{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{  user.profile.image.url }}">
        <div class="media-body">
            <h3>Bienvenido, {{user.username}}</h3>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <!-- FORM -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- security django required -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Información del perfil
            </legend>
            {{ u_form|crispy}}
            {{ p_form|crispy}}
            <!-- {{ form }}  render all info of a form of model UserRegisterForm-->
            <!-- as_p render form as paragrahp tags -->
            <!-- crispy is an model of django to make styling prettier -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Actualizar
            </button>
        </div>
    </form>
</div>
{% endblock content %}